.card-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    padding-top: 1%;
}

.add-category {
  margin-bottom: 3%;
}

.card {
width: 400px;
padding-right: 2%;
margin-bottom: 3%;
}
