

<div class="subtitle">
  Заявки
</div>

<app-main></app-main>
<!-- <div>Адрес</div>
<div>Специализированные дни</div>
<div>Норма сена</div> -->


<div class="subtitle">
  Кормление
</div>


<input type="text" pInputText placeholder="pat@example.com" />
<button pButton pRipple type="button" label="Автоопределение" class="p-button-outlined p-button-secondary btn-full-width" (click)="locatorButtonPressed()"></button>
<button pButton pRipple type="button" label="Сохранить" class="p-button-outlined p-button-secondary btn-full-width"></button>

<section class="map" id="map">

</section>


<!-- 
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Раздача сена</mat-card-title>
      <mat-card-subtitle>Основная конюшня</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>8.00 - 4 кг</div>
      <div>12.00 - 3 кг</div>
      <div>15.00 - 3 кг</div>
      <div>18.00 - 2 кг</div>
      <div>21.00 - 4 кг</div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button disabled >ДОБАВИТЬ</button>
    </mat-card-actions>
  </mat-card> -->



<!-- <div class="subtitle">
  Дополнительные услуги КСК
</div> -->