
<div class="page-title">КСК "Авалон"</div>

<div class="subtitle"> 
    Категории 
</div>

<button mat-raised-button class="add-category">Добавить</button>

  <div class="card-row">
      <div *ngFor="let category of categories">
        <app-category-card [category] = "category"></app-category-card>
      </div>
</div>


<mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Режим кормления</mat-card-title>
      <mat-card-subtitle>Основная конюшня</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div>10.00 - завтрак</div>
        <div>16.00 - обед</div>
        <div>19.00 - ужин</div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>ДОБАВИТЬ</button>
    </mat-card-actions>
  </mat-card>