<div class="page-title">КСК "Авалон"</div>

<div class="subtitle">
  Информация о КСК
</div>

<div>Адрес</div>
<div>Специализированные дни</div>
<div>Норма сена</div>

<div class="subtitle">
  Категории постоя
</div>

<button mat-raised-button class="add-category">Добавить</button>

<div class="card-row">
  <div *ngFor="let category of categories">
    <app-category-card [category]="category"></app-category-card>
  </div>
</div>


<div class="subtitle">
  Кормление
</div>

<div class="card-row">
  <mat-card class="example-card">
    <app-feeding-time></app-feeding-time>
  </mat-card>

  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Раздача сена</mat-card-title>
      <mat-card-subtitle>Основная конюшня</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>8.00 - 4 кг</div>
      <div>12.00 - 3 кг</div>
      <div>15.00 - 3 кг</div>
      <div>18.00 - 2 кг</div>
      <div>21.00 - 4 кг</div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>ДОБАВИТЬ</button>
    </mat-card-actions>
  </mat-card>

</div>


<div class="subtitle">
  Дополнительные услуги КСК
</div>