.page-title {
    font-size: 36px;
    padding-top: 5%;
  }


  .example-card {
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 3%;
    margin-right: 2%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .card-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .add-category {
    margin-bottom: 3%;
  }

.card {
  width: 430px;
  padding-right: 2%;
  margin-bottom: 3%;
}

.subtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-icon{
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  color: green;
}