.page-title {
    font-size: 36px;
    margin-top: 5%;
    margin-bottom: 4%;
  }

  .subtitle{
    font-size: 24px;
    margin-bottom: 2%;
  }

  .example-card {
    max-width: 300px;
    margin-bottom: 3%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .card-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .add-category {
    margin-bottom: 3%;
  }