

<button class="add-button" mat-raised-button color="green" (click)="openDialog()">добавить клиента</button>


    <div class="table-head">
      <mat-grid-list cols="2" rowHeight="68px">
        <mat-grid-tile colspan="1">Клиент</mat-grid-tile>
        <mat-grid-tile colspan="1">Телефон</mat-grid-tile>
      </mat-grid-list>
    </div>



 <div *ngFor="let owner of owners">
  <div class="table-head">
    <mat-grid-list cols="2" rowHeight="68px">
      <mat-grid-tile colspan="1">{{owner.name}}</mat-grid-tile>
      <mat-grid-tile colspan="1">{{owner.phone}}</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
