<mat-card-header>
  <mat-card-title>Режим кормления</mat-card-title>
  <mat-card-subtitle>Основная конюшня</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <div class="care-row" *ngFor="let feeding of feedings">
    <div class="care-title">
      {{feeding.title}}
    </div>
    <div class="care-time">
      {{feeding.hour}}.{{feeding.minutes}}
    </div>
  
    <div class="care-info">
  
      <mat-icon mat-list-icon (click)="openEditDialog(feeding.id, feeding.hour, feeding.minutes)"> edit </mat-icon>
  
    </div>
  
    <div class="care-info">
  
      <mat-icon mat-list-icon (click)="deleteFeeding(feeding.id)"> delete </mat-icon>
      
    </div>
  
  </div>
</mat-card-content>

<mat-card-actions>
  <button mat-button (click)="openCreateDialog()">ДОБАВИТЬ</button>
</mat-card-actions>

