.example-card-1 {
    max-width: 530px;
    min-width: 530px;
    margin-bottom: 3%;
    margin-right: 3%;
  }
  
  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .list-item {
    padding-bottom: 10px;
  }