<div class="msidebar">

  <!-- <a class="menu-item" routerLink="/system/main">
    <div class="icon-notification"></div>
  </a> -->

  <a class="menu-item" routerLink="/system/dashboard">
    <div class="icon-home"></div>
  </a>

  <a class="menu-item" routerLink="/system/maintenance/clients">
    <div class="icon-horse"></div>
  </a>

  <!-- <a class="menu-item" routerLink="/system/wallet/current">
    <div class="icon-wallet"></div>
  </a> -->

  <a class="menu-item" routerLink="/system/vet/inspection">
    <div class="icon-vet"></div>
  </a>
</div>
