.msidebar {
  width: 100%;
  height: 100%;
  background-color: #222A32;
  padding-top: 100%;
  box-sizing: border-box;
}

.menu-item {
  width: 100%;
  height: 100px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  box-sizing: border-box;
}

.icon-wallet, .icon-horse, .icon-notification, .icon-home{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-wallet {background-image: url(../../../../../assets/wallet.svg);}
.icon-horse {background-image: url(../../../../../assets/horse.svg);}

.icon-notification {background-image: url(../../../../../assets/notification.svg);}

.icon-home {background-image: url(../../../../../assets/home.svg);}