.delete-btn {
    margin-top: 5%;
    float: right;
    height: 30px;
}


.subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .add-icon{
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    color: green;
  }

  // .list-group-item{
  //   min-height: 60px;
  // }

  .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    justify-content: space-between;
  }

  .title{
    width: 75%;
    padding-left: 5%;
    font-size: 16px;
  }


  .row-input{
    margin-right: 40px;
    width: 250px;
  }

  .save-btn {
    margin-top: 1%;
    margin-bottom: 3%;
    color: white;
    background-color: #1caf9a;
    height: 35px;
    width: 120px;
  }

  .panel {
    max-width: 35%;
  }