<h1 mat-dialog-title>Принять запрос</h1>
<div mat-dialog-content>
    <p>Внесите данные:</p>
    <mat-form-field>
        <mat-label>денник</mat-label>
        <input matInput [(ngModel)]="data.stall" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>категория постоя</mat-label>

        <mat-select [(ngModel)]="data.category" required [formControl]="selectFormControl">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.title}}
            </mat-option>
        </mat-select>
        
        <mat-error *ngIf="selectFormControl.hasError('required')">
          This field is required
        </mat-error>

     </mat-form-field> 

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">потом</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>принять</button>
</div>