
    <div class="auth-content">
  
      <div class="ion-text-center title">Авторизация</div>
      <!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->

        <form class="example-form">

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="passFormControl.hasError('email') && !passFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="passFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        
      

         <!-- <ion-list>
          <ion-item>
            <ion-label class="ion-padding-bottom" position="floating">Email <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
  
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
            <ion-label> Введите корректный адрес.</ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label class="ion-padding-bottom" position="floating">Password <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" ngModel name="password" required minlength="6" #passCtrl="ngModel"></ion-input>
          </ion-item>
  
          <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
            <ion-label> Не менее 6 знаков.</ion-label>
          </ion-item>
  
        </ion-list>
   -->
        <!-- <div class="btn-block">
          <button mat-button fill="clear" expand="block" (click)="onSwitchAuthModule()">
            {{isLogin ? 'завести аккаунт' : 'войти'}}
          </button>
          <button mat-button type="submit" (click)="onLogin()" expand="block" [disabled]="!form.valid">
            {{isLogin ? 'войти' : 'зарегистрироваться'}}</button>
        </div>
   -->
      </form> 
    </div>