
<div class="subtitle">
    Манежи
</div>


<button class="save-btn" mat-raised-button (click)="addManege()"> добавить </button>
<div class="stable-list">

    <p-card header="Конюшня №1" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        Сенник
    </p-card>


    <p-card header="Конюшня №2" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        Мойка летняя
    </p-card>

    <p-card header="Конюшня №2" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        коневоз
    </p-card>

    
    <p-card header="Конюшня №2" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        дорожки
    </p-card>
</div>