
<div class="subtitle">
    Манежи
</div>


<button class="save-btn" mat-raised-button (click)="addManege()"> добавить </button>
<div class="stable-list">

    <p-card header="Конюшня №1" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://s-ob.ru/images/photoalbum/stroitelstvo-kompleksov-i-klubov-dlya-konnogo-sporta_17768/stroitelstvo-kompleksov-i-klubov-dlya-konnogo-sporta_99999_t5.jpg">
        </ng-template>
        <p>Крытый</p>
        <p>Деревянный</p>
        <p>Выездка и конкур</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>


    <p-card header="Конюшня №2" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://na-dache.pro/uploads/posts/2021-04/1619358107_104-p-na-uchastke-zabor-dlya-loshadei-116.jpg">
        </ng-template>
        <p>Открытый</p>
        <p>Деревянная</p>
        <p>Доступна только частникам</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>

    <p-card header="Конюшня №2" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://www.equestrian.ru/photos/user_photo/2015/6472def1.jpg">
        </ng-template>
        <p>Крытая бочка</p>
        <p>Деревянная</p>
        <p>Доступна только частникам</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>
</div>