
<div>
 
    <mat-form-field class="row-input"  appearance="outline">
      <mat-label>Название</mat-label>
      <input 
      matInput
       placeholder="Placeholder"
       [(ngModel)]="category.title"
       >  
    </mat-form-field>

 
    <mat-form-field  class="row-input"  appearance="outline">
      <mat-label>Цена</mat-label>
      <input 
      matInput
       placeholder="Placeholder"
       [(ngModel)]="category.price"
       >
  
    </mat-form-field>
  
</div>

<button class="save-btn" mat-raised-button (click)="updateCategory()"> Сохранить </button>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Услуги</h3>
    <ul class="panel-controls">
      <li><a (click)="addServiceInCategory()"><span class="fa fa-plus"></span></a></li>
    </ul>
  </div>
  <div class="panel-body list-group list-group-contacts">
    <a class="list-group-item" *ngFor="let service of services">
      <div class="cont">
        <div class="title">
          <p>{{service.title}}</p>

        </div>
        <div class="m-icon">
          <button class="btn btn-primary btn-rounded" (click)="deleteService(service.id)"><span
              class="fa fa-trash-o"></span></button>
        </div>
      </div>
    </a>
  </div>
</div>

<button class="delete-btn" mat-raised-button (click)="delete()"> Удалить категорию </button>