<button disabled class="add-button" mat-raised-button color="green">добавить постояльца</button>

<div class="table-head">
  <mat-grid-list cols="7" rowHeight="68px">
    <mat-grid-tile colspan="3">
      Процедура
    </mat-grid-tile>
    <mat-grid-tile colspan="1"> Дата </mat-grid-tile>
    <mat-grid-tile colspan="1">  Ветеринар </mat-grid-tile>
    <mat-grid-tile colspan="2">  </mat-grid-tile>
  </mat-grid-list>
</div>


<mat-accordion>
  <mat-expansion-panel *ngFor="let procedure of procedures">
    <mat-expansion-panel-header>
      <div class="table-row-header">
        <mat-grid-list cols="7" rowHeight="68px">
          <mat-grid-tile colspan="3">{{procedure.title}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{procedure.date}} </mat-grid-tile>
          <mat-grid-tile colspan="1"> {{procedure.vet}}</mat-grid-tile>
          <mat-grid-tile colspan="2">  </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-expansion-panel-header>

    <div class="table-row-content">

      <div class="first-block">

        <p>Дата регистрации: 12 декабря 2009</p>
        <p>Масть: гнедая</p>

        <div class="button-block">
          <button mat-stroked-button> Редактировать</button>
          <button mat-stroked-button class="btn"> Удалить</button>
        </div>
      </div>
      <div class="addition-contacts">
        <p class="text-center">Дополнительные контакты:</p>
        <mat-grid-list cols="4" rowHeight="40px" *ngFor="let person of horses[0].people">
          <mat-grid-tile colspan="2">{{person.name}} </mat-grid-tile>
          <mat-grid-tile colspan="1"> {{person.phone}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{person.role}} </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
