<button class="add-button" mat-raised-button color="green">добавить данные</button>

<div class="table-head">
  <mat-grid-list cols="7" rowHeight="68px">
    <mat-grid-tile colspan="3">
      Процедура
    </mat-grid-tile>
    <mat-grid-tile colspan="1"> Дата </mat-grid-tile>
    <mat-grid-tile colspan="1">  Ветеринар </mat-grid-tile>
    <mat-grid-tile colspan="1"> Статус  </mat-grid-tile>
    <mat-grid-tile colspan="1">  </mat-grid-tile>
  </mat-grid-list>
</div>


<mat-accordion>
  <mat-expansion-panel *ngFor="let procedure of procedures">
    <mat-expansion-panel-header>
      <div class="table-row-header">
        <mat-grid-list cols="7" rowHeight="68px">
          <mat-grid-tile colspan="3">{{procedure.title}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{procedure.date}} </mat-grid-tile>
          <mat-grid-tile colspan="1"> {{procedure.vet}}</mat-grid-tile>
          <mat-grid-tile colspan="1"> проведена </mat-grid-tile>
          <mat-grid-tile colspan="1">  </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-expansion-panel-header>

    <div class="table-row-content">

      <div class="first-block">
        <p class="text-center">Привиты</p>
        <mat-grid-list class="t"  cols="3" rowHeight="40px" *ngFor="let horse of horses | async">
          <mat-grid-tile colspan="1">{{horse.name}} </mat-grid-tile>
          <mat-grid-tile colspan="1">{{horse.owner}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{horse.phone}} </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="addition-contacts">
        <p class="text-center">Пропустили прививку</p>
        <mat-grid-list  class="t" cols="3" rowHeight="40px" *ngFor="let horse of horses | async">
          <mat-grid-tile colspan="1">{{horse.name}} </mat-grid-tile>
          <mat-grid-tile colspan="1"> {{horse.owner}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{horse.phone}} </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
