.side{
  height: 100%;
  width: 8%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
}

/* .content {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  width: 92%;
  background-color: #FBFCFD;
  margin-left: 8%;
  box-sizing: border-box;
} */

.subtitle{
  font-size: 24px;
  margin-bottom: 2%;
  margin-top: 4%;
}

.example-container {
  min-width: 100%;
  min-height: 100vh;
  background-color: #FBFCFD;
}

.example-sidenav-content {
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* align-items: center;
  justify-content: center; */
}

.example-sidenav {
  padding: 20px;
}

.content{
  margin: 0 10% 0 10%;
}



.msidebar {
  width: 100%;
  height: 100%;
  background-color: #222A32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.menu-item {
  width: 100%;
  /* height: 100px; */
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: block;
  box-sizing: border-box;
}

.content-frame {
  padding: 4%;
  padding-top: 2%;
}

/* .icon-wallet, .icon-horse, .icon-notification, .icon-home, .icon-vet{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  background-color: black;
}

.icon-wallet {
  background-image: url(../../assets/wallet.svg
  );}
.icon-horse { background-image: url(../../assets/horse.svg);}

.icon-notification {background-image: url(../../assets/notification.svg);}

.icon-home {background-image: url(../../assets/home.svg);}
.icon-vet {background-image: url(../../assets/veterinarian.svg);} */


.page {
  min-height: 100vh;
}


.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  /* min-width: 220px; */
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  min-width: 220px;
}

.sidebar {
  background-color: white;
}