
<div class="subtitle">
    Окрестности
</div>


<button class="save-btn" mat-raised-button (click)="addEnvironment()"> добавить </button>
<div class="stable-list">

    <p-card header="Поля верхние" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://w-dog.ru/wallpapers/9/15/528022743511103/pole-leto-pejzazh.jpg">
        </ng-template>
        <p>Крытый</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>


    <p-card header="Поля нижние" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://w-dog.ru/wallpapers/9/15/506753760391199/pole-vosxod-priroda.jpg">
        </ng-template>
        <p>Открытый</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>

    <p-card header="Леса" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://club.foto.ru/gallery/images/photo/2012/03/25/1948627.jpg">
        </ng-template>
        <p>Крытая бочка</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>

    
    <p-card header="Озеро" [style]="{width: '360px'}" styleClass="p-card-shadow" class="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://w-dog.ru/wallpapers/10/17/462778270005182/ozero-loroga-les-most-derevya-priroda.jpg">
        </ng-template>
        <p>Крытая бочка</p>
        <ng-template pTemplate="footer">
            <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
            <p-button label="Настройки" icon="pi pi-cog" styleClass="p-button-secondary"></p-button>
        </ng-template>
    </p-card>
</div>