<div class="table-head">
  <mat-grid-list cols="7" rowHeight="68px">
    <mat-grid-tile colspan="2">
      Постоялец
    </mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1"> Категория </mat-grid-tile>
    <mat-grid-tile colspan="1"> </mat-grid-tile>
    <mat-grid-tile colspan="1"> Денник №</mat-grid-tile>
    <mat-grid-tile colspan="1"> </mat-grid-tile>
  </mat-grid-list>
</div>


<mat-accordion>
  <div *ngFor="let horse of horses" class="procedure-card">
    <div class="table-head">

      <mat-grid-list cols="7" rowHeight="68px">
        <mat-grid-tile colspan="2"> {{horse.name}} </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <!-- {{horse.owner}}   -->
        </mat-grid-tile>
        <mat-grid-tile colspan="1"> {{horse.categoryTitle}}</mat-grid-tile>
        <mat-grid-tile colspan="1">
          <!-- {{horse.stable}}  -->
        </mat-grid-tile>
        <mat-grid-tile colspan="1"> {{horse.stall}}</mat-grid-tile>
        <mat-grid-tile colspan="1">
          <button mat-stroked-button [routerLink]="['/system/maintenance/profile']"
            [queryParams]="{horse_id: horse.id}"> Профиль
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      
    </div>
  </div>
</mat-accordion>