
<div class="page-title">
    <h2> Инфраструктура </h2>
</div>

<p-tabView>
    <p-tabPanel header="Конюшни">
        <app-stables></app-stables>
    </p-tabPanel>
    <p-tabPanel header="Манежи">
        <app-maneges></app-maneges>
    </p-tabPanel>
    <!-- <p-tabPanel header="Левады">
        <app-pastures></app-pastures>
    </p-tabPanel> -->
    <p-tabPanel header="Окрестности">
        <app-environment></app-environment>
    </p-tabPanel>
    <p-tabPanel header="Общее">
        <app-general></app-general>
    </p-tabPanel>
</p-tabView>

<!-- <div class="page-content-wrap">

    <div class="card-row">
        <div class="card" *ngFor="let category of categories">
            <app-category-card [category]="category"></app-category-card>
        </div>
    </div>

</div> -->
